@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --fd-layout-width: 100%;
  --color-fd-background: #ffffff;
}

html {
  scrollbar-gutter: stable;
}

html:has(body[data-scroll-locked]) {
  scrollbar-gutter: auto;
}
